.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-s {
  margin-bottom: 1.5rem !important;
}
.u-margin-bottom-md {
  margin-bottom: 4rem !important;

  @include respond(tab-potrait) {
    margin-bottom: 3rem !important;
  }
}
.u-margin-bottom-lg {
  margin-bottom: 8rem !important;

  @include respond(tab-potrait) {
    margin-bottom: 4rem !important;
  }
}

.u-margin-top-lg {
  margin-top: 8rem !important;
}

.u-margin-top-xl {
  margin-top: 10rem !important;
}
