.footer {
    background-color: $color-grey-text-3;
    padding: 10rem 0;
    font-size: 1.4rem;
    color: $color-grey-light-2;

    &__logo-box {
        text-align: center;
        margin-bottom: 8rem;
    }

    &__logo {
        height: auto;
        width: 15rem;
        
    }

    &__navigation {
        border-top: 1px solid $color-grey-text-2;
        padding-top: 2rem;
        display: inline-block;
    }

    &__list {
        list-style: none;
    }

    &__item {
        display: inline-block;
        &:not(:last-child){
            margin-right: 1.5rem;
        }
    }

    &__link {
        &:link,
        &:visited {
            text-decoration: none;
            text-transform: uppercase;
            background: $color-grey-text-3;
            color: $color-grey-light-2;
            transition: all .2s;
            display: inline-block;
        }

        &:hover,
        &:active {
            color: $color-primary;
            transform: rotate(5deg) scale(1.1);
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
        }
    }

    &__copyright {
        border-top: 1px solid $color-grey-text-2;
        padding-top: 2rem;
        width: 80%;
        float: right;
    }
}